<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BookShop</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Books", books_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Categories", categories_path, class: "nav-link" %></li>
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item text-white me-3">
          Hello, <strong><%= current_user.name %></strong> (<%= current_user.role.name %>)
        </li>
        <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path,
          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to logout?" },
          class: "nav-link" %>
        </li>
        
      <% else %>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
